@layer components {
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
  }

  .table th,
  .table td {
    padding: 1rem;
    border: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .table th {
    text-align: left;
  }

  .table tr:hover td {
    background-color: #f9f9f9;
  }
  
  .table__wrap {
    max-width: 100%;
    overflow-x: auto;
  }
}
